.git
.venv
__pycache__
.pytest_cache
frontend/node_modules
frontend/.next/*
!frontend/.next/
!frontend/.next/standalone/
!frontend/.next/standalone/**
!frontend/.next/static/
!frontend/.next/static/**
tests/__pycache__
